<div>
    <div ng-transclude></div>
    <br/>

    <table class="table table-hover">
        <thead ng-if="$list.$setup.enable.header">
            <tr>
                <th ng-if="$list.$setup.enable.checkboxes"></th>
                <th ng-repeat="header in $list.$headers">
                    <a ng-if="$list.headerIsSortable(header)" href="" ng-click="$list.sortBy(header)">{{header | capitalize}}
                        <i ng-if="$list.$sort.by === header" class="glyphicon" ng-class="{'glyphicon-chevron-down': $list.$sort.order === 'desc', 'glyphicon-chevron-up': $list.$sort.order === 'asc'}" style="font-size: 10px; margin: 4px 0 0 4px"></i>
                    </a>
                    <span ng-if="!$list.headerIsSortable(header)">
                        {{header | capitalize}}
                    </span>
                </th>
            </tr>
        </thead>
        <tfoot ng-if="$list.$setup.enable.footer"></tfoot>
        <tbody>
            <tr ng-repeat="element in $list.$elements">
                <td ng-if="$list.$setup.enable.checkboxes">
                    <input type="checkbox" ng-model="element.$checked" />
                </td>
                <td ng-hide="$list.$edit" ng-repeat="header in $list.$headers">
                    <div ng-if="!$list.$setup.templates[header]">{{element[header]}}</div>
                    <div ng-if="$list.$setup.templates[header]">
                        <item data-template="$list.$setup.templates[header]" data-model="element"></item>
                    </div>
                </td>
                <td ng-show="$list.$edit" ng-repeat="header in $list.$headers">
                    <div class="form-group">
                        <edit-input data-value="element[header]" data-setup="$list.$setup.edit[header]"></edit-input>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <section ng-if="$list.$setup.enable.pagination">
        <div style="width: 200px" class="input-group">
            <span ng-bind="$list.$setup.i18n.pagination.prev" ng-click="$list.$pagination.pageDown()" ng-disabled="$list.$pagination.data.page === 1" class="input-group-addon btn"></span>
            <input type="text" class="form-control" ng-blur="$list.$pagination.ensureValidPage()" ng-model="$list.$pagination.data.page" />
            <span ng-bind="$list.$setup.i18n.pagination.next" ng-click="$list.$pagination.pageUp()" ng-disabled="$list.$pagination.data.page === $list.$pagination.totalPages()" class="input-group-addon btn"></span>
        </div>
        <br />
        <div>Showing items: {{$list.$pagination.fromItem()}} - {{$list.$pagination.toItem()}} of {{$list.$pagination.data.total}}</div>
        <div>Selected: {{$list.selected()}}</div>
        <div>Total pages: {{$list.$pagination.totalPages()}}</div>
    </section>
</div>
