<div class="d-list">
    <div ng-transclude class="d-list__multi-actions"></div>
    <table ng-if="!responsiveMode" class="d-list-table">
        <thead class="d-list-table__headers" ng-if="$list.$setup.enable.header">
            <tr>
                <th class="d-list-table__header" ng-if="$list.$setup.enable.checkboxes"></th>
                <th class="d-list-table__header" ng-repeat="header in $list.$headers">
                    <a href="" ng-if="$list.headerIsSortable(header)" ng-click="$list.sortBy(header)" class="d-list-table__header-sortable">
                        {{$list.getHeaderLabel(header) | capitalize}}
                        <i ng-if="$list.$sort.by === header" class="glyphicon" ng-class="{'glyphicon-chevron-down': $list.$sort.order === 'desc', 'glyphicon-chevron-up': $list.$sort.order === 'asc'}" style="font-size: 10px; margin: 4px 0 0 4px"></i>
                    </a>
                    <span ng-if="!$list.headerIsSortable(header)">
                        {{$list.getHeaderLabel(header) | capitalize}}
                    </span>
                </th>
            </tr>
        </thead>
        <tfoot class="d-list-table__footer" ng-if="$list.$setup.enable.footer">
        </tfoot>
        <tbody class="d-list-table__body">
            <tr ng-repeat="element in $list.$elements" class="d-list-table__body-row">
                <td ng-if="$list.$setup.enable.checkboxes" class="d-list-table__body-cell d-list-table__body-cell-checkbox">
                    <input type="checkbox" ng-model="element.$checked" />
                </td>
                <td ng-hide="$list.$edit" ng-repeat="header in $list.$headers" class="d-list-table__body-cell">
                    <div ng-if="!$list.$setup.templates[header]">{{element[header]}}</div>
                    <div ng-if="$list.$setup.templates[header]">
                        <item data-template="$list.$setup.templates[header]" data-model="element[header]" data-row-model="element"></item>
                    </div>
                </td>
                <td ng-show="$list.$edit" ng-repeat="header in $list.$headers" class="d-list-table__body-cell--edit">
                    <div class="form-group">
                        <edit-input data-value="element[header]" data-setup="$list.$setup.edit[header]"></edit-input>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table ng-if="responsiveMode" class="d-list-table-small" ng-repeat="element in $list.$elements">
        <tbody>
            <tr ng-repeat="header in $list.$headers" class="d-list-table-small__row">
                <td class="d-list-table-small__header">
                    <a href="" ng-if="$list.headerIsSortable(header)" ng-click="$list.sortBy(header)" class="d-list-table-small__header-sortable">
                        {{$list.getHeaderLabel(header) | capitalize}}
                        <i ng-if="$list.$sort.by === header" class="glyphicon" ng-class="{'glyphicon-chevron-down': $list.$sort.order === 'desc', 'glyphicon-chevron-up': $list.$sort.order === 'asc'}" style="font-size: 10px; margin: 4px 0 0 4px"></i>
                    </a>
                    <span ng-if="!$list.headerIsSortable(header)">
                        {{$list.getHeaderLabel(header) | capitalize}}
                    </span>
                </td>
                <td ng-hide="$list.$edit" class="d-list-table-small__body-cell">
                    <div ng-if="!$list.$setup.templates[header]">{{element[header]}}</div>
                    <div ng-if="$list.$setup.templates[header]">
                        <item data-template="$list.$setup.templates[header]" data-model="element[header]" data-row-model="element"></item>
                    </div>
                </td>

                <td ng-show="$list.$edit" class="d-list-table-small__body-cell--edit">
                    <div class="form-group">
                        <edit-input data-value="element[header]" data-setup="$list.$setup.edit[header]"></edit-input>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <section ng-if="$list.$setup.enable.pagination" class="d-list-pagination">
        <div class="input-group d-list-pagination__page-links">
            <span ng-bind="$list.$setup.i18n.pagination.prev" ng-click="$list.$pagination.pageDown()"
                ng-disabled="$list.$pagination.page === 1" class="input-group-addon btn btn-default d-list-pagination__prev"></span>
            <input type="text" class="form-control" ng-blur="$list.$pagination.ensureValidPage()"
                ng-model="$list.$pagination.page" class="d-list-pagination__number"/>
            <span ng-bind="$list.$setup.i18n.pagination.next" ng-click="$list.$pagination.pageUp()"
                ng-disabled="$list.$pagination.page === $list.$pagination.totalPages()"
                class="input-group-addon btn btn-default d-list-pagination__next"></span>
        </div>
        <div class="d-list-pagination-summary">
            <div class="d-list-pagination-summary__items-number">Showing items: {{$list.$pagination.fromItem()}} - {{$list.$pagination.toItem()}} of {{$list.$pagination.total}}</div>
            <div class="d-list-pagination-summary__selected">Selected: {{$list.selected()}}</div>
            <div class="d-list-pagination-summary__total-pages">Total pages: {{$list.$pagination.totalPages()}}</div>
            <br/>
            <div ng-if="$list.$pagination.pageSizeOptions" class="d-list-pagination-summary__items-number-select btn-group">
                <button ng-repeat="pageSizeOption in $list.$pagination.pageSizeOptions"
                    ng-class="{active: pageSizeOption === $list.$pagination.pageSize}"
                    ng-click="$list.$pagination.setPageSize(pageSizeOption)"
                    type="button" class="btn btn-default">{{pageSizeOption}}</button>
            </div>
        </div>
    </section>
</div>
